
<!--Main layout-->
<main>
  <div class="container">
      <br>
      <br>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- Navbar brand -->
      <div class="navbar-brand">Online store:</div>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">All
              <span class="sr-only">Business cards</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tote bags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stickers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logo</a>
          </li>

        </ul>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->
<br>
    <!--Section: Products v.3-->
    <section class="text-center mb-4">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay"> 
              <img src="/assets/canberraPics/record1.jpg" class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="text-secondary">
                <h2>Stickers</h2>
              </div>
              <h2>
                <strong>
                  <div class="dark-grey-text"> Dynamic Stickers
                    <span class="badge badge-pill danger-color">NEW</span>
                  </div>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$5</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record2.jpg" class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              
                <h2>New Logo (Poster)</h2>
              <h2>
                <strong>
                  <div href="" class="dark-grey-text">New Logo</div>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$39</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record3.jpg" class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="grey-text">
                <h2>Business cards</h2>
              </div>
              <h2>
                <strong>
                  <div href="" class="dark-grey-text">Business cards
                  </div>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>Free</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record4.jpg" class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
                <h2>Tote Bags</h2>
              <h2>
                <strong>
                  <a href="" class="dark-grey-text">Very Fetch tote bags</a>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$25</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Fourth column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record5.jpg" class="card-img-top" >
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="grey-text">
                <h2>Stand Alone Logo</h2>
              </div>
              <h2>
                <strong>
                  <a href="" class="dark-grey-text">A very "fetch"
                    <span class="badge badge-pill danger-color">NEW</span>
                  </a>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$20</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record6.jpg" class="card-img-top">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="grey-text">
                <h2>Poster</h2>
              </div>
              <h2>
                <strong>
                  <a href="" class="dark-grey-text">Poster NEW</a>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$80</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record8.jpg" class="card-img-top">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="grey-text">
                <h2>Poster (Stand Alone)</h2>
              </div>
              <h2>
                <strong>
                  <div href="" class="dark-grey-text">Poster  
                    <br> 
                    BESTSELLER
                  </div>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$99</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->

        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-4">

          <!--Card-->
          <div class="card" class="mat-elevation-z8">

            <!--Card image-->
            <div class="view overlay">
              <img src="/assets/canberraPics/record7.jpg" class="card-img-top">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <div href="" class="grey-text">
                <h2>Logo</h2>
              </div>
              <h2>
                <strong>
                  <a href="" class="dark-grey-text">Redesigned Logo</a>
                </strong>
              </h2>

              <h4 class="font-weight-bold blue-text">
                <strong>$30</strong>
              </h4>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        <!--Fourth column-->

      </div>
      <!--Grid row-->

    </section>
    <!--Section: Products v.3-->

    
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © Ab immemorabili Copyright:
    <a href="#" target="_blank"> LandSpeed Records </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->